root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = tab
trim_trailing_whitespace = true

[*.lua]
max_line_length = 160
insert_final_newline = true

[*.{xml,xsd}]
max_line_length = off
indent_style = space
indent_size = 2
